@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.cls-1{fill:#1f3f62;}
.cls-2{fill:#29c2e6;}
.cls-3{fill:#4b6ab2;}
.cls-4{fill:#34489e;}
.cls-5{fill:#4f2e91;}
.cls-6{fill:none;stroke:#1f3f62;stroke-miterlimit:10;}
.cls-7{font-size:11px;fill:#58595b;font-weight:700;}
.cls-10,.cls-7{font-family:Panton;}
.cls-8{white-space:pre;}
.cls-9{letter-spacing:-1px;}
.cls-10{font-size:10px;fill:#29c3e7;}
